<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="pokedex" href="/tabs/pokedex">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="regions"  href="/tabs/regions">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Regiões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games"  href="/tabs/games">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Jogos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
