<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PokeApi
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange()" placeholder="Busque pelo seu pokemon!"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <h1><strong>Pokemons:</strong></h1>
    </ion-row>

    <ion-row *ngFor="let pokemon of filtredPokemons; let i = index">
      <ion-item [routerLink]="['/pokemon', pokemon.name]" button style="width: 100%;">
        <h3>{{ pokemon.id + ' - ' + (pokemon.name | titlecase) }}</h3>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
