<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jogos Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let gameVersion of gamesVersions" [routerLink]="['/game', gameVersion.id]" lines="full">
      <ion-avatar slot="start">
        <img [src]="getGameImage(gameVersion.name)" alt="{{ gameVersion.name }}">
      </ion-avatar>
      <ion-label>
        {{ "Pokémon " + formatName(gameVersion.name) }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>